.login {
	background-color: #fff;
	text-align: center;
	width: 100%;
	margin: auto;
	font-family: courier;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.login-container {
	width: 100%;
	padding-top: 70px;
	margin: auto;
	min-height: calc(100vh - 100px - 70px);
}

.title {
	font: bold 30px courier;
	color: grey;
}

.userinput {
	padding: 5rem;
}

.input-control {
	width: 100%;
	margin: auto;
	border: none;
	padding-bottom: 35px;
}

.input-control label {
	display: block;
	color: #ff0066;
	padding: 10px 0;
}

.input-control input {
	padding: 10px;
	border: none;
	border-bottom: 2px grey solid;
}

.button {
	background-color: #ff0066;
	color: #fff;
	font: bold 15px courier;
	height: 35px;
	padding: 5px 35px;
	border: none;
	border-radius: 10px;
}

.button:hover {
	cursor: pointer;
}
