#root {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 100%;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	grid-row-start: 2;
	grid-row-end: 3;
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	text-align: center;
	width: 60vw;
}

.footer-item {
	height: 80px;
	color: white;
	font: bold 20px courier;
	display: flex;
	justify-content: center;
	height: 100%;
}

.footer-links {
	display: flex;
	color: white;
	align-items: center;
	text-decoration: none;
	font: bold 20px courier;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.footer-links:hover {
	cursor: pointer;
}

.footer-links:visited {
	color: white;
}
